.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.set-position-relative {
  position: relative;
}

.set-position-absolute {
  position: absolute;
}

.sticky {
  position: fixed;
  top: 0;
}

.carousel .slide {
  background: none !important;
}

.carousel .slide img {
  width: auto !important;
}

.home_details_active .carousel .slide {
  text-align: left !important;
}

.carousel .thumbs-wrapper {
  margin: 20px 0 !important;
}

.boxed-btn{
  width: 100%;
}